<%= stylesheet_link_tag 'new', :media => "all" %>

<h1>memo投稿</h1>
<h3></h3>
<%= form_for @post do |f| %>


  <div class="new">


  <div class="no1">

  <%= f.label :ジャンル %>
  <%= f.select :genre, 
  [["料理", "cooking"],
  ["ダイエット", "diet"], 
  ["就活", "jobhunthing"],
  ["節約", "saving"], 
  ["勉強", "study"], 
  ["その他", "others"]], include_blank: "ジャンル" %>
  </div>

  <div class="no2">
    <%= f.label :タイトル%>
    <%= f.text_area :memo, :size => "30x2" %>
  </div>

  <div class="no3">
  <%= f.label :画像 %>
  <%= f.file_field :image %>
</div>

  <div class="no4">
  <%= f.label :YouTube%>
  <%= f.text_field :youtube, :size => 30 %>
</div>

<div class="no5">
<%= f.label :メモ %>
<%= f.text_field :comment, :size => 30 %>
</div>



<h5>総合評価</h5>
<div class="star">
 <%= f.radio_button :overall, 5 ,id: 'star1'%>
 <label for="star1"><span class="text">最高</span>★</label>

 <%= f.radio_button :overall, 4 ,id: 'star2'%>
 <label for="star2"><span class="text">良い</span>★</label>

 <%= f.radio_button :overall, 3 ,id: 'star3'%>
 <label for="star3"><span class="text">普通</span>★</label>

 <%= f.radio_button :overall, 2 ,id: 'star4'%>
 <label for="star4"><span class="text">悪い</span>★</label>

 <%= f.radio_button :overall, 1 ,id: 'star5'%>
 <label for="star5"><span class="text">最悪</span>★</label>
</div>



  <%= f.submit "投稿する" %>
<% end %>


<%= link_to "一覧に戻る", posts_path %>


</div>