<%= stylesheet_link_tag 'others', :media => "all" %>

<div class="otherspage">
<h1>その他メモ</h1>
</div>

<div class="shousai">
 <% @others.each do |t| %>
  <% if user_signed_in? && current_user.id == t.user_id %> 
   
  <div class="title1">
  <p>タイトル:<%= t.memo %></p>
</div>

    
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
    <%= t.site %>
    <iframe width="300" height="150" src="https://www.youtube.com/embed/<%= t.youtube.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><%= t.comment %>
    <h2>評価：
    <span class="star-rating">
    <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
    <span class="star-rating-back">★★★★★</span>
 </span> 
 </h2>

 </div>  
 <div class="shousai">
      <%= link_to "詳細へ", post_path(t.id) %>
      <%= link_to "編集する", edit_post_path(t.id) %>
      <%= button_to "削除する", post_path(t.id), method: :delete %>

    </div>

  <% end %>
  <% end %>

  <%= link_to "post一覧に戻る", posts_path %>
  </div> 


  



  


  
