<%= stylesheet_link_tag 'show', :media => "all" %>


<div class="post">


 <div class="posttitle">
 
  <p>タイトル:<%= @post.memo %></p>
  
  <p><%= @post.created_at %></p>
  
  <p id="notice"><%= notice %></p>

   <p>
  <iframe width="300" height="150" src="https://www.youtube.com/embed/<%= @post.youtube.last(11)%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </p>

    <%= @post.comment %>
    </div>



  <div>
   <h2>重要度：
   <span class="star-rating">
   <span class="star-rating-front" style="width: <%= getPercent(@post.overall) %>%;">★★★★★</span>
   <span class="star-rating-back">★★★★★</span>
   </span> 
  </h2>
</div> 


 
<%= link_to "post一覧に戻る", posts_path %>
<br>
<%= link_to "編集する", edit_post_path(@post.id) %>


